/* Add CSS Styling */

.odd {
    background-color: #f08080;
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

.third{
    font-size: 24px;
}

#number2 {
    color: #0000FF;
    font-size: 36px;
}

#number4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}

